.battle-result-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
    height: 100%;

    padding: 2% 5%;

    @media screen and (max-width: 900px) {
        padding: 0;
    }

    h1,
    h2 {
        font-family: 'Starguard';
        margin: 5vh 0 2vh 0;
    }

    .battle-result-container {
        position: relative;
        border-radius: 10px;
        border: 5px solid black;
        background-color: rgba(255,255,255,0.7);
        padding: 2% 2% calc(2% + 10vh) 2%;
        min-width: 80vw;

        @media screen and (max-width: 900px) {
            min-width: 100vw;
            min-height: 100vh;
            border: none;
            border-radius: 0;
            background-color: rgba(255,255,255,0.3);
            padding: 2% 2% calc(2% + 3vh) 2%;
        }
    }

    .monster-card-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .skills-usage-container {
        background-color: rgba(255,255,255,0.9);
        width: 100%;
        max-width: 900px;
        overflow: auto;
        margin: auto;
        border-radius: 10px;
        padding: 20px;

        @media screen and (max-width: 900px) {
            max-width: 95vw;
        }
    }

    .result-table {
        margin: auto;
        width: 100%;
        img {
            height: 50px;
            width: 50px;
        }

        th {
            border-bottom-width: 2px;
            border-bottom-color: rgba(255,255,255,0.3);
            min-width: 80px;
            font-size: 10px;

            @media screen and (max-width: 900px) {
                font-size: 8px;
            }
        }
        
        td {
            border: none;

            i {
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: rgba(0,0,0,0.5) !important;
            }

            > div {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;

                @media screen and (max-width: 900px) {
                    font-size: 13px;
                }
            }
        }
    }

    span.mvp-damage {
        font-family: 'Starguard';
        font-size: 30px;

        @media screen and (max-width: 900px) {
            font-size: 20px;
        }
    }
}