.map-page {
    width: 100%;
    max-width: 900px;
    padding: 2%;

    @media screen and (max-width: 900px) {
        padding: 0;
    }

    .map-container {
        width: 100%;
        height: 100%;

        position: relative;

        img.map {
            width: 100%;
            max-width: 900px;
            border-radius: 10px;
            border: 5px solid black;

            @media screen and (max-width: 900px) {
                border: none;
                border-radius: 0;
                height: 100vh;
            }
        }

        .map-button {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: transparent;
            border: none;

            /* 1.78 aspect ratio */
            width: 17.8%;
            height: 10%;

            &.active {
                animation: jump 2s infinite;
            }

            .fa-map-marker {
                font-size: 70px;
                color: red;

                -webkit-text-stroke-width: 3px;
                -webkit-text-stroke-color: black;


                @media screen and (max-width: 900px) {
                    font-size: 28px;
                    -webkit-text-stroke-width: 1px;
                }
            }
        }
    }
}