.back-button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    left: 0;

    padding: 10px;

    font-size: 30px;

    > span {
        margin-left: 10px;
        text-transform: uppercase;
        font-family: 'Starguard';
        letter-spacing: 3px;
    }

    @media screen and (max-width: 900px) {
        > span {
            display: none;
        }
    }
}