$battleButtonSize: 100px;
$battleButtonCenterSize: 30px;

.battle-page {

    display: flex;
    justify-content: center;
    margin-top: 30px;
    min-width: 100%;

    .battle-container {
        width: 100vw;
        max-width: 900px;
        display: flex;
        flex-direction: column;

        img.encounter-img {
            height: 30vh;
        }

        .hp-bar {
            position: relative;
            margin-top: 10px;
            margin-bottom: 10px;
            height: 20px;
            border-radius: 15px;
            background-color: #00000022;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;

            > div.hp-left {
                height: 20px;
                border-radius: 15px;
                transition: width 0.5s;
            }

            > div.hp-number {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .hp-bar.encounter {
            width: 90%;
            margin: auto;
            margin-top: 5px;
        }

        .player-monster-bar {
            position: relative;
            width: 50vw;
            height: 300px;
            margin: auto;

            display: flex;
            align-items: center;
            justify-content: center;

            .player-monster-container {
                position: relative;
    
                .player-monster {
                    position: relative;
                    height: 200px;
        
                    border-radius: 5px;
        
                    overflow: hidden;
        
                    padding: 0;
                    border: none;
        
                    > img {
                        margin: auto;
                        height: 100%;
                        aspect-ratio: 1;
                    }
        
                    &.on-cd::before {
                        content: '';
                        position: absolute;
                        inset: 0;
                        background: #00000055;
                    }
        
                    &.active {
                        border: 2px solid red;
                    }
        
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        position: absolute;
                        height: 62px;
                        width: 62px;
                        
                        bottom: -58px;
                        left: 0px;
                    }

                    &:nth-child(3) {
                        left: 68px;
                    }
                    
                    &:nth-child(4) {
                        left: 136px;
                    }
                }
            }

        }

        .battle-button-big-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
        }

        .battle-button-container {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            height: $battleButtonSize;
            width: calc(#{$battleButtonSize} * 2);

            .battle-center {
                position: absolute;
                top: calc(#{$battleButtonSize} - (#{$battleButtonCenterSize} / 2));
                left: calc(#{$battleButtonSize} - (#{$battleButtonCenterSize} / 2));
                aspect-ratio: 1;
                width: $battleButtonCenterSize;
                background-color: red;
                border-radius: 50%;
            }
        }

        .battle-button {
            position: relative;
            width: $battleButtonSize;
            aspect-ratio: 1;
            overflow: hidden;
            border: none;
            background-color: transparent;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);

            display: flex;
            align-items: center;
            justify-content: center;

            color: white;

            > span {
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            &.top-left {
                transform-origin: bottom right;
                > span {
                    padding-top: calc(#{$battleButtonSize} / 5);
                }
            }

            &.top-right {
                transform-origin: bottom left;
                > span {
                    padding-right: calc(#{$battleButtonSize} / 5);
                }
            }

            &.bottom-left {
                transform-origin: top right;
                > span {
                    padding-left: calc(#{$battleButtonSize} / 5);
                }
            }

            &.bottom-right {
                transform-origin: top left;
                > span {
                    padding-bottom: calc(#{$battleButtonSize} / 5);
                }
            }

            > div {
                position: absolute;
                border-radius: 50%;
                height: calc(#{$battleButtonSize} * 2);
                aspect-ratio: 1;
                z-index: -1;

                &.top-left {
                    top: 0;
                    left: 0;
                    background-color: rgb(196, 22, 22);
                }

                &.top-right {
                    top: 0;
                    right: 0;
                    background-color: rgb(43, 170, 79);
                }

                &.bottom-left {
                    bottom: 0;
                    left: 0;
                    background-color: rgb(119, 127, 50);
                }

                &.bottom-right {
                    bottom: 0;
                    right: 0;
                    background-color: rgb(54, 47, 141);
                }
            } 

            /* &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #000;
                -webkit-transform-origin: 100% 0;
                -ms-transform-origin: 100% 0;
                transform-origin: 100% 0;
                -webkit-transform: skew(-45deg);
                -ms-transform: skew(-45deg);
                transform: skew(-45deg);
                z-index: -1;
            }  */
        }

        .encounter-img-container {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            > span {
                margin-bottom: 2%;
                font-size: 25px;
                font-family: 'Starguard', sans-serif;
            }

            > img {
                height: 20vh;
                margin-bottom: 2%;
            }

            .effect-container {
                position: absolute;
                height: 20vh;
                width: 60vw;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 9;
                bottom: 0;
                
                > img {
                    height: 100%;
                }
            }

            .attacks {
                position: absolute;
                inset: 0;

                &.attack-index-0 {
                    bottom: 25%;
                    left: 30%;
                }

                &.attack-index-1 {
                    bottom: 10%;
                    left: 40%;
                }

                &.attack-index-2 {
                    bottom: 15%;
                    right: 40%;
                }

                &.attack-index-3 {
                    bottom: 20%;
                    right: 30%;
                }

                .attack {
                    font-size: 12px;
                }

                .attack-total {
                    font-size: 25px;

                    @media screen and (max-width: 900px) {
                        font-size: 20px;
                    }

                    &.attack-index-0 {
                        bottom: 0%;
                        left: 10%;
                    }

                    &.attack-index-1 {
                        bottom: 0%;
                        left: 30%;
                    }

                    &.attack-index-2 {
                        bottom: 0%;
                        right: 30%;
                    }

                    &.attack-index-3 {
                        bottom: 0%;
                        right: 10%;
                    }
                }

                .attack,
                .attack-total {
                    position: absolute;
                    opacity: 0;
                    font-weight: bold;
                    font-family: 'Ultra', serif;
                    width: 50px;
                    text-align: center;

                    text-transform: uppercase;

                    z-index: 99999;

                    -webkit-text-stroke-width: 1px;

                    &.crit {
                        // font-size: 1.5rem;
                        // -webkit-text-fill-color: red; /* Will override color (regardless of order) */
                        animation: critShrinkAndFade 0.75s linear;

                        &:last-child {
                            animation: lastCritShrinkAndFade 0.75s linear;
                            animation: inherit;
                        }
                    }

                    &.immune {
                        // -webkit-text-fill-color: grey; /* Will override color (regardless of order) */
                        animation: missShrinkAndFade 0.25s linear;
                    }

                    &.miss {
                        -webkit-text-fill-color: white !important; /* Will override color (regardless of order) */
                        -webkit-text-stroke-color: black !important;
                        animation: missShrinkAndFade 0.25s linear;
                    }

                    &.normal {
                        // -webkit-text-fill-color: gold; /* Will override color (regardless of order) */
                        animation: shrinkAndFade 1s linear;
                    }

                    &.fire {
                        -webkit-text-fill-color: rgb(255,186,186);
                        -webkit-text-stroke-color: red; /* Will override color (regardless of order) */
                    }

                    &.water {
                        -webkit-text-fill-color: rgb(26, 103, 246); /* Will override color (regardless of order) */
                        -webkit-text-stroke-color: blue;
                    }

                    &.grass {
                        -webkit-text-fill-color: rgb(110, 242, 110); /* Will override color (regardless of order) */
                        -webkit-text-stroke-color: green;
                    }

                    &.chaos {
                        -webkit-text-fill-color: rgb(179, 179, 179); /* Will override color (regardless of order) */
                        -webkit-text-stroke-color: rgb(77, 70, 70);
                    }
                }

                /* for damage numbers */
                @for $i from 1 through 99 {
                    .attack:nth-of-type(#{$i}n),
                    .attack-total:nth-of-type(#{$i}n) {
                        animation-delay: #{$i * 0.125}s;
                    }
                }
            }
        }
    }
}