$logoWidth: 250px;
$halfLogoWidth: $logoWidth / 2;

body {
    background-image: radial-gradient(#b7c9bc, #3d3c3c);
}

.App {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;

    margin: auto;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* &.bsc {
        background-color: gold;
    }

    &.polygon {
        background-color: purple;
    } */

    &.loading {
        overflow: hidden;
        > .spinner-container {
            opacity: 1;
        }
    }

    .realm-chooser-container {
        width: 100%;
        max-width: 900px;
        min-height: 100vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 80px;
            font-family: 'Starguard';
            color: white;
            margin-bottom: 30px;

            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgba(0,0,0,0.5) !important;

            @media screen and (max-width: 900px) {
                margin-top: 40px;
                font-size: 40px;
            }
        }

        .navigate-button {
            background-color: white;
    
            text-transform: uppercase;
            font-family: 'Starguard';
            letter-spacing: 3px;
            font-size: 50px;
            width: 250px;
    
            padding: 5px 20px;
            margin-bottom: 10px;
            border: 5px solid black;
            border-radius: 10px;
    
            &:last-child {
                margin-bottom: 0;
            }
    
            &.active {
                border: 5px solid #00000033
            }
        }
    }

    > .spinner-container { 
        background-color: black;
        opacity: 0;
        transition: opacity 0.75s;
    }

    > .loader {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    .bg-container {
        position: fixed;
        inset: 0;
        height: 100%;
        width: 100vw;
        z-index: -1;

        > img.bg {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .mask {
            position: absolute;
            inset: 0;
            z-index: 0;
            background-color: rgba(0,0,0,0.35);
        }
    }

    .header-container {
        align-items: center;
        justify-content: center;

        position: absolute;
        top: calc(5%);;
        left: calc(50% - #{$halfLogoWidth});
        max-width: 900px;
        margin: auto;

        &.disconnected {
            top: calc(50% - 37px);
        }
    }

    .connector-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 900px;
        height: 74px;
        width: 100%;
        position: relative;
    }

    .metamask-connector {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        background-color: transparent;
        position: relative;

        -webkit-transition: -webkit-transform 0.5s;
        -moz-transition: -moz-transform 0.5s;
        transition: opacity 0.9s, transform 0.5s;
        opacity: 1;

        &.loading {
            opacity: 0;
        }

        &.logged-in {
            display: none;
            /* transform: translateX(-23vw);

            @media screen and (max-width: 900px) {
                transform: translateX(-19vw);
            } */
        }
    }

    .metamask-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid (255,255,255,0.2);
        background-color: rgba(255,255,255,0.9);
        height: 150px;
        width: 150px;
        border-radius: 50%;
        cursor: pointer;

        &.disabled {
            cursor: no-drop;
        }

        &:not(.disabled) {
            animation: pulse 3s infinite;
        }

        > img {
            height: 60%;
        }
    }

    .metamask-text {
        display: flex;
        align-items: center;
        color: white;

        font-family: 'Starguard';
        font-size: 25px;

        margin-top: 8px;

        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: rgba(0,0,0,0.5) !important;
    }

    img.logo {
        width: $logoWidth;
    }

    .logo-text {
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: rgba(0,0,0,0.5) !important;

        font-family: 'Starguard';
        color: white;
    }

    span.logo-text {
        font-size: 15px;
    }

    .switcher-container {
        position: absolute;
        bottom: 0;
        right: 0;

        animation: fadeIn 1s;

        > button {
            border: none;
            background-color: #a099a1;
            width: 100px;
            height: 32px;
            border-radius: 10px;

            margin-left: 15px;
            margin-bottom: 9px;
            cursor: pointer;

            &.active {
                background-color: #b9b0ba;
                color: white;
            }

            &:disabled {
                cursor: no-drop;
            }

            @media screen and (max-width: 900px) {
                height: 40px;
                width: 40px;
                border-radius: 20px;
                margin-right: 5px;
                margin-left: 0px;
                margin-bottom: 10px;
            }
        }
    }

    .link-toast {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        > a {
            color: white !important;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}
